<div ng-hide="userIsAuthenticated">

    <div class="container centered">
                    <div class="site-heading" style="color: black">
                        <h1>My Blog</h1>
                        </div>
        </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">

                    <div ng-repeat="post in posts">

                    <a ng-href="/#/posts/{{ post.id }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>

                    </a>

                    <p class="post-meta">Posted by {{ post.author }} on {{ post.time }}</p>
                <hr>
                    </div>
                    </div>
                </div>


    </div>
</div>

</div>