
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container centered">
            <h1 id="pullup"><b>Portfolio</b></h1>
        </div>
        <div class="container">
            <div class="col-md-10 col-md-offset-1 centered">
                <a href="http://www.getdotbit.com"><h2 id="pullup5">GetDotBit</h2></a>
                <br>
            </div>
            <div class="col-sm-6 col-sm-offset-3 centered">

                <a href="http://www.getdotbit.com"><img src="images/screenshot.png" width="625" height="350"
                                                        class="img-responsive2"></a>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-10 col-md-offset-1 centered">

                        <p><a href="http://getdotbit.com">GetDotBot's</a> features include secure user registration, a
                            custom bitcoin powered payment system, linux shell scripting to namecoind process, and a
                            great front-end powered with Bootstrap and built using Ajax to reduce client reloading. It
                            makes use of a wide array of API’s including <a
                                    href="http://shapeshift.io">ShapeShift.io</a>, <a href="http://Blocktrail.com">Blocktrail.com</a>,
                            <a href="http://Blockchain.info">Blockchain.info</a> and <a
                                    href="http://CryptoCoinCharts.info">CryptoCoinCharts.com</a> to build a robust yet
                            user-friendly site. It uses best practices like form validation and password hashing to
                            provide a professional experience. Included in the stack are: Ubuntu, Nginx, Flask, SQLite,
                            JQuery, Bootstrap.
                        </p>
                    </div>

                </div>
                <!--/.row-->
            </div>
            <!--/col-md-10-->
        </div>
        <!--/row-->
        <div class="container" style="margin-top: 100px">
            <div class="col-md-10 col-md-offset-1 centered">
                <a href="http://www.getdotbit.com"><h2 id="pullup5">MoneroWallet</h2></a>
                <br>
            </div>
            <div class="col-sm-6 col-sm-offset-3 centered">

                <a href="http://www.getdotbit.com"><img src="images/screenshot.png" width="625" height="350"
                                                        class="img-responsive2"></a>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-10 col-md-offset-1 centered">

                        <p><a href="http://getdotbit.com">GetDotBot's</a> features include secure user registration, a
                            custom bitcoin powered payment system, linux shell scripting to namecoind process, and a
                            great front-end powered with Bootstrap and built using Ajax to reduce client reloading. It
                            makes use of a wide array of API’s including <a
                                    href="http://shapeshift.io">ShapeShift.io</a>, <a href="http://Blocktrail.com">Blocktrail.com</a>,
                            <a href="http://Blockchain.info">Blockchain.info</a> and <a
                                    href="http://CryptoCoinCharts.info">CryptoCoinCharts.com</a> to build a robust yet
                            user-friendly site. It uses best practices like form validation and password hashing to
                            provide a professional experience. Included in the stack are: Ubuntu, Nginx, Flask, SQLite,
                            JQuery, Bootstrap.
                        </p>
                    </div>

                </div>
                <!--/.row-->
            </div>
            <!--/col-md-10-->
        </div>
        <div class="container" style="margin-top: 100px">
            <div class="col-md-10 col-md-offset-1 centered">
                <a href="http://www.getdotbit.com"><h2 id="pullup5">CryptoIndex</h2></a>
                <br>
            </div>
            <div class="col-sm-6 col-sm-offset-3 centered">

                <a href="http://www.getdotbit.com"><img src="images/screenshot.png" width="625" height="350"
                                                        class="img-responsive2"></a>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-10 col-md-offset-1 centered">

                        <p><a href="http://getdotbit.com">GetDotBot's</a> features include secure user registration, a
                            custom bitcoin powered payment system, linux shell scripting to namecoind process, and a
                            great front-end powered with Bootstrap and built using Ajax to reduce client reloading. It
                            makes use of a wide array of API’s including <a
                                    href="http://shapeshift.io">ShapeShift.io</a>, <a href="http://Blocktrail.com">Blocktrail.com</a>,
                            <a href="http://Blockchain.info">Blockchain.info</a> and <a
                                    href="http://CryptoCoinCharts.info">CryptoCoinCharts.com</a> to build a robust yet
                            user-friendly site. It uses best practices like form validation and password hashing to
                            provide a professional experience. Included in the stack are: Ubuntu, Nginx, Flask, SQLite,
                            JQuery, Bootstrap.
                        </p>
                    </div>

                </div>
                <!--/.row-->
            </div>
            <!--/col-md-10-->
        </div>



</section>


