
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container centered">
            <h1 id="pullup"><b>Portfolio</b></h1>
        </div>
        <div class="container">
            <div class="col-md-10 col-md-offset-1 centered">
                <a href="http://www.getdotbit.com"><h2 id="pullup5">GetDotBit</h2></a>
                <br>
            </div>
            <div class="col-sm-6 col-sm-offset-3 centered">

                <a href="http://www.getdotbit.com"><img src="images/screenshot.png" width="625" height="350"
                                                        class="img-responsive2"></a>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-10 col-md-offset-1 centered">

                        <p><a href="http://getdotbit.com">GetDotBot's</a> features include secure user registration, a
                            custom bitcoin powered payment system, linux shell scripting to namecoind process, and a
                            great front-end powered with Bootstrap and built using Ajax to reduce client reloading. It
                            makes use of a wide array of API’s including <a
                                    href="http://shapeshift.io">ShapeShift.io</a>, <a href="http://Blocktrail.com">Blocktrail.com</a>,
                            <a href="http://Blockchain.info">Blockchain.info</a> and <a
                                    href="http://CryptoCoinCharts.info">CryptoCoinCharts.com</a> to build a robust yet
                            user-friendly site. It uses best practices like form validation and password hashing to
                            provide a professional experience. Included in the stack are: Ubuntu, Nginx, Flask, SQLite,
                            JQuery, Bootstrap.
                        </p>
                    </div>

                </div>
                <!--/.row-->
            </div>
            <!--/col-md-10-->
        </div>
        <!--/row-->
        <div class="container" style="margin-top: 100px">
            <div class="col-md-10 col-md-offset-1 centered">
                <a href="http://www.monerowallet.com"><h2 id="pullup5">MoneroWallet</h2></a>
                <br>
            </div>
            <div class="col-sm-6 col-sm-offset-3 centered">

                <a href="http://www.monerowallet.com"><img src="images/monerowallet.png" width="625" height="350"
                                                        class="img-responsive2"></a>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-10 col-md-offset-1 centered" style="margin-top: 60px">

                        <p><a href="http://monerowallet.com">MoneroWallet</a> is an AngularJS based CryptoCurrency Web Wallet for storing and sending
                            <a href="http://getmonero.org">Monero</a>. It uses Firebase for its backend, and Google App Engine for hosting.
                            Firebase works by storing an encrypted seed generated by the client. After authentication, it is retrieved and  is used to rebuild the Monero Private Key. This is used to sign transactions which are later broadcast to the Monero Network.
                            An <a href="https://play.google.com/store/apps/details?id=com.ionicframework.monerowallet116498">Android</a> app was also built leveraging the same back-end.
                        </p>
                    </div>

                </div>
                <!--/.row-->
            </div>
            <!--/col-md-10-->
        </div>

        <div class="container" style="margin-top: 100px">
            <div class="col-md-10 col-md-offset-1 centered">
                <a href="http://www.cryptoindex.com"><h2 id="pullup5">CryptoIndex</h2></a>
                <br>
            </div>
            <div class="col-sm-6 col-sm-offset-3 centered">

                <a href="http://www.cryptoindex.com"><img src="images/cryptoindex.png" width="625" height="350"
                                                        class="img-responsive2"></a>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-10 col-md-offset-1 centered" style="margin-top: 60px">

                        <p><a href="http://Cryptoindex.com">CryptoIndex</a> is a dashboard for viewing CryptoCurrency prices.
                            It uses AngularJS and is a completely static site, leveraging external API's to provide price data.
                            It is similarly hosted on Google App Engine, and optimized for static loading.
                        </p>
                    </div>

                </div>
                <!--/.row-->
            </div>
            <!--/col-md-10-->
        </div>



</section>


