
<!-- Page Content -->
    <div class="container" style="margin-top: 50px">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{ post.title }}</h1>

                <!-- Author -->
                <p class="lead">
                     by: {{ post.author }}
                </p>

                <hr>

                <!-- Date/Time -->
                <p> Posted on    {{ post.time }}
</p>



                <hr>

                <!-- Post Content -->
                <div ng-bind-html="post.body"></div>


                <!-- Blog Comments -->



        <hr>

        </div>
            </div>

    </div>
