	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">
    <style>
    .ta-editor {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }
    </style>
    <div class="container" style="margin-top: 100px">

<h1>Editor</h1>

    Title: <input type="text" ng-model="title" required>
            <button type="button" style="float: right" ng-disabled="!title || !htmlcontent" ng-click="submit()">Submit</button>

    <br>
    <br>

        <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ></div>


</div>