{% extends "base.html" %}

{% block content %}

{% if answer %}
<div class="container centered">
<h1>You wrote "{{ answer }}"</h1>
<h2>Want to go <a href="/">Home?</a></h2>

{% else %}
<div class="container centered">
    {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
  <h1> Hi! Here is an example form</h1>
  <form action="/forms" method="post">
  <div class="input-group input-group-lg">
      {{ form.name(placeholder="example", type="text", class="form-control input-lg") }}
      </div>
<br>
      <button class="btn btn-success" type="submit">Submit!</button>
  </form>
  <h2>Want to go <a href="/">Home?</a></h2>
</div>
{% endif %}
{% endblock %}